<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BeavisSay</title>
  </head>
  <body  ng-app="cowsayApp">
    <header>

    </header>
    <main>
      <section class="container" ng-controller="CowsayController">
        <h2>{{ cowsayCtrl.title }}</h2>
        <pre class="beavis">
          {{ cowsayCtrl.speak(cowsayCtrl.text) }}
        </pre>
        <input type="text" ng-model="cowsayCtrl.text">
        <button ng-click="cowsayCtrl.logger(cowsayCtrl.text)">Log it</button>
      </section>

      <section class="container" ng-controller="CowsayController">

      </section>
    </main>
    <footer></footer>
  </body>
</html>
