<!DOCTYPE html>
<html ng-app="cowsayApp">
  <head>
    <meta charset="utf-8">
    <title>moo</title>
  </head>
  <body>
    <main>
      <section class="containor" ng-controller="CowsayController">
        <h1>{{cowsayCtrl.title}}</h1>
         <pre class="cow">
           {{cowsayCtrl.speak(cowsayCtrl.text)}}
         </pre>
         <input type="text" ng-model="cowsayCtrl.text">
         <button ng-click="cowsayCtrl.logger(cowsayCtrl.text)">moo</button>

      </section>
    </main>

  </body>
</html>
